{% extends 'base.html' %}

{% block title %}{{ event.title }}{% endblock %}

You're looking at Event {{ event.id }}.

{% block content %}
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  {% if just_rsvped %}
  <p>You successfully RSVP'ed!</p>
  {% if just_added %}<p>We just added you to the database!</p>{% endif %}
  <p>Submit another RSVP:</p>
  {% endif %}

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if signin_open %}
  <form action="{% url 'events:signin' event.id %}" method="post">
    {% csrf_token %}
    <p>Email address:</p>
    <input type="text" name="email" value="" />
    <input type="submit" value="Signin" />
  </form>
  {% else %}
  <form action="{% url 'events:rsvp' event.id %}" method="post">
    {% csrf_token %}
    <p>Email address:</p>
    <input type="text" name="email" value="" />
    <input type="submit" value="Rsvp" />
  </form>
  {% endif %}
{% endblock %}
